body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px 40px;
    display: flex; 
    align-items: center; 
}

header h1 {
    margin: 0;
}

nav {
    display: flex; 
    align-items: center; 
    margin-left: 0; 
}

nav a {
    background-color: #0073e6; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s; 
    margin: 0 5px; 
}

nav a:hover {
    background-color: #005bb5; 
    transform: translateY(-2px); 
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #0073e6;
}

p, li {
    font-size: 18px;
    line-height: 1.6;
}

strong {
    color: #333;
}

ul {
    padding-left: 20px;
}

.theme-toggle {
    display: none; 
}