body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px 40px;
    display: flex; 
    align-items: center; 
}

header h1 {
    margin: 0;
}

nav {
    display: flex; 
    align-items: center; 
    margin-left: 0; 
}

nav a {
    background-color: #0073e6; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s; 
    margin: 0 5px; 
}

nav a:hover {
    background-color: #005bb5; 
    transform: translateY(-2px); 
}

button {
    user-select: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Poppins', sans-serif;
}

.intro {
    text-align: center;
    margin-top: 50px; 
}

.shop-now-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0073e6; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.shop-now-button:hover {
    background-color: #005bb5; 
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.contact-container {
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
    text-align: center; 
}

.contact-info {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 20px; 
}

.contact-card {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 15px; 
    text-align: left; 
    transition: transform 0.3s, box-shadow 0.3s; 
    flex: 1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.contact-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.contact-card h3 {
    color: #0073e6; 
    margin: 0; 
    margin-bottom: 10px; 
}

.contact-card dl {
    margin: 0; 
}

.contact-card dt {
    font-weight: bold; 
    margin-top: 10px; 
}

.contact-card dd {
    margin: 0 0 10px 0; 
}

.contact-card a {
    color: #0073e6; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.contact-card a:hover {
    color: #005bb5; 
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px 20px;
    padding: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.2em;
    color: #0073e6;
    margin-top: 10px;
}

.product-card p {
    font-size: 1.1em;
    margin: 10px 0;
    flex-grow: 1;
}

.product-card button {
    background-color: #0073e6; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.product-card button:hover {
    background-color: #005bb5; 
    transform: translateY(-2px); 
}

.cta {
    text-align: center;
    background-color: #2b2b2b;
    color: white;
    padding: 40px;
    margin-top: 50px;
}

.cta h2 {
    margin-bottom: 20px;
}

.cta button {
    background-color: #0073e6;
    color: white;
    font-size: 1.1em;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cta button:hover {
    background-color: #005bb5;
}

.cart-button {
    background-color: #0073e6; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    display: flex; 
    align-items: center; 
    margin-left: 10px; 
}

.cart-button i {
    font-size: 1.25em; 
    margin-top: 5px; 
    margin-left: 0px; 
}

.cart-button:hover {
    background-color: #005bb5; 
    transform: translateY(-2px); 
}

.cart-sidebar {
    position: fixed;
    right: -500px; 
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex; 
    flex-direction: column;
    transition: transform 0.3s ease; 
    user-select: none; 
}

.cart-sidebar.active {
    transform: translateX(-500px); 
}

.cart-sidebar h2 {
    margin: 0 0 20px;
}

.cart-sidebar p {
    margin: 2px 0; 
}

.cart-items {
    flex-grow: 1; 
    overflow-y: auto; 
}

.cart-item {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
}

.item-text {
    flex-grow: 1; 
    margin-right: 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.remove-button {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
    color: #0073e6; 
    font-size: 1.2em; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0; 
    height: 30px; 
    width: 30px; 
}

.remove-button:hover {
    color: #005bb5; 
}

.checkout-button {
    background-color: #005bb5; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    margin-top: 10px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 8px; 
    font-size: 16px; 
    line-height: 1px;
}

.checkout-button:hover {
    transform: scale(1.05); 
}

.checkout-button i {
    margin-right: 5px;
    vertical-align: middle;
}

.clear-cart-button {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 12px 20px; 
    margin-top: 10px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 8px; 
    font-size: 16px;
    line-height: -1px;
}

.clear-cart-button i {
    margin-right: 5px;
    vertical-align: middle;
}

.clear-cart-button:hover {
    transform: scale(1.05);
}